html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}


.container {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.ant-modal-root {
  .ant-modal-mask {
    z-index: 2222;
  }

  .ant-modal-wrap {
    z-index: 3333;
  }
}

.ant-skeleton.customSkeleton{
  height: 16px;
  + .customSkeleton{
    margin-top: 7px;
  }
  ul.ant-skeleton-paragraph{
    li{
      padding: 0!important;
    }
  }
}

.cursor-pointer{
  cursor: pointer;
}
.page-loading {
  min-height: 100%;

  .ant-spin-container {
    min-height: 100vh;
  }

  > div > .ant-spin {
    z-index: 11;
    position: fixed;
    max-height: 100%;
    max-width: calc(100% - 183px);
    left: 183px;
    display: flex;
    align-items: center;
    justify-content: center;

    .anticon-loading {
      color: #fff;
      font-size: 95px;
      margin: 0;
    }
  }

  > .ant-spin-blur {
    opacity: 1;

    &:after {
      opacity: 0.6;
      background: #000;
    }
  }
}

.ant-notification {
  .ant-notification-no-title {
    .ant-notification-notice-message {
      display: none;
    }
  }

  .ant-notification-info {
    border-radius: 2px;
    border: solid 1px #5da0f4;
    background-color: #edf4ff;
    padding: 10px 30px 10px 15px;

    .ant-notification-notice-icon {
      font-size: 17px;
      line-height: 17px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;

      svg {
        color: #5da0f4;
      }
    }

    .ant-notification-notice-with-icon {
      .ant-notification-notice-description {
        margin-left: 25px;
      }
    }

    .ant-notification-notice-close {
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }

  .ant-notification-success {
    border-radius: 2px;
    border: solid 1px #b7eb8f;
    background-color: #f6ffed;
    padding: 10px 30px 10px 15px;

    .ant-notification-notice-icon {
      font-size: 17px;
      line-height: 17px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;

      svg {
        color: #52c41a;
      }
    }

    .ant-notification-notice-with-icon {
      .ant-notification-notice-description {
        margin-left: 25px;
      }
    }

    .ant-notification-notice-close {
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }

  .ant-notification-warning {
    border-radius: 2px;
    border: solid 1px #b7eb8f;
    background-color: #f6ffed;
    padding: 10px 30px 10px 15px;

    .ant-notification-notice-icon {
      font-size: 17px;
      line-height: 17px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;

      svg {
        color: red;
      }
    }

    .ant-notification-notice-with-icon {
      .ant-notification-notice-description {
        margin-left: 25px;
      }
    }

    .ant-notification-notice-close {
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }

  .ant-notification-error {
    border-radius: 4px;
    border: solid 2px #ffccc7;
    background-color: #fff2f0;
    padding: 10px 30px 10px 15px;

    .ant-notification-notice-icon {
      font-size: 17px;
      line-height: 17px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;

      svg {
        color: red;
      }
    }

    .ant-notification-notice-with-icon {
      .ant-notification-notice-description {
        margin-left: 25px;
      }
    }

    .ant-notification-notice-close {
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }
}

.ant-pagination {
  position: relative;

  .ant-pagination-total-text {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ant-modal {
  &.navigation-confirm {
    .ant-modal-confirm-body-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .anticon {
        display: none;
      }
    }

    .ant-modal-body {
      padding: 35px 27px 30px 25px;
    }

    .ant-modal-confirm-content {
      text-align: center;
      margin: 0;
      font-size: 16px;
    }

    .ant-modal-confirm-btns {
      margin-top: 25px;

      button {
        min-width: 100px;
      }
    }
  }
}


@media (max-width: 1199px) {
  .hasResponsive {
    .ant-table {
      overflow-x: auto;

      .ant-table-container {
        min-width: 1000px;
      }
    }
  }
}

@import "deleteConfirmPopover";
@import "layout";
@import "LoadingSpin";
@import "login";
@import "loginAsCompany";